@media (min-width: 1024px) {
  .customh .header:not(.drawer-menu).page-width {
      padding-left: 0 !important;
      padding-right: 0 !important;
  }

  .customh .header {
      padding: 0 !important;
  }

  .customh .header__menu-item span {
      color: #076283;
      font-weight: 600;
      font-size: 17px;
  }
}


/* custom video section________________________ */
.custom-video-heading {
    font-size: 54px !important;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    margin-top: 10px !important;
    font-weight: 700;
    color: #FBBF24;
}
.custom-video-overline {
    font-size: 27px !important;
    margin-bottom: 1rem;
    font-weight: 500;
    letter-spacing: .05em;
    opacity: .9;
}

.custom-video-description {
    font-size: 21px !important;
}

/* -----------------custom class rich text------------------------------------------ */

.crt .rich-text__heading {
  color: #076283 !important;
}


/* -----------------custom multicolumn ----------------------------------------------------- */
.cmc .multicolumn-card {
  display: flex !important;
  flex-direction: column;
  align-items: center;   
  justify-content: center;
  text-align: center;   
}

.cmc .multicolumn-card__image-wrapper {
  margin-bottom: 5px; 
}

.cmc .multicolumn-card__image-wrapper {
  width: 56px !important;
  height: 56px !important;
  border-radius: 50% !important;
  background: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0 !important;
  overflow: hidden;
}

.cmc .multicolumn-card__image-wrapper .media {
  padding-bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: transparent !important;
}

.cmc .multicolumn-card__image-wrapper img {
  width: 25px !important;
  height: 25px !important;
  object-fit: contain;
  display: block;
}


.cmc h3.inline-richtext {
    color: #076283;
}
 .product__media-list .media img {
    inset: 0 ;
}


    .product--large:not(.product--no-media) .product__info-wrapper {
      background: white !important;
        padding: 30px !important;
        border-radius: 20px !important;
    }